.tile {
	padding: 0;
	.ant-card-body {
		padding: 0;
	}
	&__poster {
		display: block;
		width: 180px;
		height: auto;
		object-fit: contain;
		flex: 180px 0 0;
	}
	&__info {
		padding: 10px 10px 20px 20px;
	}
	&__rate {
		flex-shrink: 0;
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 12px;
		text-align: center;
		border: 2px solid;
		border-radius: 50%;
	}
}
