body {
	margin: 0;
	padding: 0;
	background-color: #f7f7f7;
}
* {
	box-sizing: border-box;
}
.container {
	width: 100%;
	max-width: 1100px;
	margin: 40px auto;
	padding: 17px 36px;
	background-color: #fff;
}
